@liberalColor:    rgb(2, 78, 166);
@nationalsColor:  rgb(200, 200, 0);
@laborColor:      rgb(171, 21, 15);
@greensColor:     rgb(26, 164, 21);

@black:           rgb(10,10,10);
@grayDarker:      rgb(30, 30, 30);
@grayDark:        rgb(51, 51, 51);
@gray:            rgb(153, 153, 153);
@grayLighter:     rgb(246,246,246);
@grayLightest:    rgb(250,250,250);
@white:           rgb(255,255,255);

@lemon:           rgb(250, 211, 88);
@trspLemon:       rgba(250, 211, 88,0.3);

body {
  background: @grayLightest;
  #gradient > .vertical(@grayLightest, @grayLighter);
  .font-size(16);
}

.navbar.special-feature {
  .brand {
    width: 190px;
    background-position: left center;
  }
  .clearfix;
}

.article-title-container {
  display: block;
  width: 700px;
  margin: 0 auto;
  position: relative;
  h1 {
    font-family: @sansFontFamily;
    .font-size(22);
    color: @lemon;
    margin: 0;
    line-height: 1;
    font-weight: 200;
    display: inline-block;
  }
  form {
    display: inline-block;
    margin: 0;
  }
  label {
    display: inline-block;
    color: @gray;
    .font-size(20);
    margin: 0;
    margin-left: 8px;
    line-height: 30px;
    padding-top: 5px;
  }
  .select-wrapper {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 3px;
    .border-radius(4px);
    select {
      outline: none;
      width: 100px;
      .font-size(22);
      line-height: 1;
      height: 30px;
      margin: 0;
      padding: 0 4px;
      color: @grayDarker;
      font-weight: 700;
      border: 0px none;
      .border-radius(0);
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.special-feature-links {
  line-height: 1.2;
  #reset-link {
    display: none;
  }
}


#visualisation.celestial svg{
  background: url(/images/background.jpg) no-repeat;
  background-size: cover;

  .text-background{
    fill: none;
    fill-opacity: 0;
  }
}

#visualisation svg{

  .node {

    text {
      font-size: 14px;
      font-family: @baseFontFamily;
      font-weight: 400;
      transition: font-size .5s ease
    }

    &:hover {
      cursor: pointer;
    }

    &.selectedNode {
      text {
        font-size: 16px;
      }
      .labels {
        fill: @black;
      }
    }

  }


  .text-background{
    fill: @grayLightest;
    fill-opacity: 0.8;
  }

  .labels {
    fill: @grayDarker;
  }

  circle{
    fill: @gray;
    stroke: @grayLightest;
    stroke-width: 3;

    &.greens{
      fill: @greensColor;
    }
    &.alp{
      fill: @laborColor;
    }
    &.coalition{
      fill: @liberalColor;
    }
  }
}

#info{
  position: relative;
  // z-index: -1;
  width: 100%;
  text-align: center;
  // top: 100px;
  // left: 100px;

  p{
    width: 70%;
    margin: 0 auto;
  }

}

form{
  display: block;
  position: relative;
  // top: 100px;
  // right: 50px;
  z-index: 200;
  margin: 10px 0 0 0;
}

//FOOTER

footer {
  background-color: #222;
  #gradient.vertical-three-colors(#000,#111,2%,#222);
  padding: 40px 5% 60px;
  text-shadow: 0 -1px 0 black;
  position: relative;
  z-index: 1000;
  .loading & {
    display: none;
  }
  h4 {
    color: white;
    text-transform: uppercase;
  }
  .top a {
    .font-size(12);
    font-weight: bold;
    line-height: 1.8;
    color: white;
    text-transform: uppercase;
    position: absolute;
    right: 10%;
    top: -34px;
    background-color: #000;
    padding: 10px 14px 6px;
    .border-top-radius(6px);
    .transition(all 150ms ease-out);
    &:hover {
      text-decoration: none;
      color: @grayLighter;
      top: -40px;
      padding-bottom: 10px;
      .transition(all 150ms ease-out);
    }
  }
  ul {
    margin: 10px 0 0;
    float: left;
    font-size: 80%;
    padding: 0 40px 0 0;
    &.photo-credit {
      clear:both;
      margin-top: 40px;
      li {
        .font-size(12);
      }
    }
    li {
      color: @gray;
      .font-size(14);
      list-style: none;
      float: left;
      ul {
        margin: 0 0 20px;
        a {
          margin-bottom: 10px;
        }
      }
      h5 {
        text-transform: uppercase;
        .font-size(12);
        margin: 20px 0 5px;
      }
      ul > li {
        float: none;
      }
    }
  }
  p {
    width: 270px;
    .font-size(12);
    margin-bottom: 0;
    text-transform: uppercase;
    color: @gray;
  }
  a {
    color: white;
    display: block;
    .font-size(24);
    font-weight: 600;
    line-height: .8;
    padding-bottom: 4px;
    &.tgm {
      width:240px;
      text-indent: -9000px;
      background: transparent url(/images/footer-logo.png) 0 0 no-repeat;
    }
    &:hover {
      color:white;
      text-decoration: none;
      .opacity(60);
    }
  }
}

.modal {
  background: @grayDarker;
  color: @grayLighter;
  .border-radius(10px);
  border: 0 none;
  line-height: 1.6;

  .close {
    color: @gray;
    opacity: 0.5;
    text-shadow: 0 0 0 transparent;
    font-size: 30px;
    margin-top: 5px;
    &:hover {
      opacity: 1;
    }
  }

  .modal-header {
    // background: @lemon;
    padding: 10px 20px;
    .border-top-radius(10px);
    h3 {
      .font-size(22);
      color: @lemon;
      margin: 0;
      line-height: 30px;
      font-weight: 200;
    }
  }

  .modal-body {
    padding: 20px;
    padding-top: 10px;
  }

  .modal-footer {
    background: @grayDarker;
    border-top: 1px solid black;
  }

}


.credits {
  .tgm {
    width: 240px;
    text-indent: -9000px;
    background: transparent url(/images/footer-logo.png) 0 0 no-repeat;
    display: block;
  }
  list-style: none;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  li {
    padding-bottom: 6px;
  }
}

.navbar{
  margin-bottom: 0;
}
